<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div *ngFor="let i of data" class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card">
                        <div class="card-body">
                          <h6 class="card-title"><i>{{i._id}}</i></h6>
                          <h5 class="card-title"><i>{{i.courseTitle}}</i></h5>
                          <p class="card-text">{{i.courseDescription}}</p>
                          <p class="card-text">{{i.courseDuration}}</p>
                          <p class="card-text">{{i.courseDate}}</p> 
                          <p class="card-text">{{i.courseVenue}}</p>
                          <a href="#" class="btn btn-primary"><b>Proceed</b></a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>