
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <form #addcourse="ngForm" (ngSubmit)="Addcourse()">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label"><b>Course Title</b></label>
                    <input type="text" name ="title" class="form-control" [(ngModel)]="course.courseTitle">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label"><b>Duration</b></label>
                    <input type="text" name ="duration" class="form-control" [(ngModel)]="course.courseDuration">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label"><b>Description</b></label>
                    <textarea name="description" id="" cols="30" rows="10" class="form-control" [(ngModel)]="course.courseDescription"></textarea>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label"><b>Venue</b></label>
                    <input type="text" name ="venue" class="form-control" [(ngModel)]="course.courseVenue">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label"><b>Date</b></label>
                    <input type="date" name="date" id="" class="form-control" [(ngModel)]="course.courseDate">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <button class="btn btn-primary"><b>Register</b></button>
                </div>
              </form>
            </div>
        </div>
    </div>
</div>